<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listagem de Cidades</title>
  </head>
  <body>
    <h1>Listagem de Cidades</h1>

    <form method="get">
        <label for="state_id">Filtrar por Estado</label>
        <select name="state_id" id="state_id">
            <option value="">--Todos--</option>
            {%for state in states%}
                <option value="{{state.ibge_id}}" {%if state.ibge_id|stringformat:"i" == request.GET.state_id%}select{%endif%}>
                    {{state.name}} ({{state.uf}})
                </option>
                {%endfor%}
        </select>
        <Button type="submit">Filtrar</Button>
    </form>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>ID IBGE</th>
                <th>Nome</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {%for city in page_obj%}
            <tr>
                <td>{{city.ibge_id}}</td>
                <td><a href="{%url 'district_list'%}?city_id={{city.ibge_id}}">{{city.name}}</a></td>
                <td>{{city.state.name}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class="pagination">
    </div>
    <a href="{%url 'home'%}">Voltar para a home</a>
  </body>
</html>
