<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Navegação</h1>
    <ul>
      <li><a href="{%url 'state_list' %}"> Listagem de Estados</a></li>
      <li><a href="{%url 'city_list' %}">Listagem de Cidades</a></li>
      <li><a href="{%url 'district_list' %}">Listagem de Distritos</a></li>
      <li><a href="{%url 'company_list'%}">Listagem de Empresas</a></li>
    </ul>
  </body>
</html>
