{% extends 'base.html' %}{% block content %}
<h1 class="main-heading mb-4">Navegação do Projeto</h1>
<ul class="list-group">
  <li class="list-group-item">
    <a href="{% url 'state_list' %}">Listagem de Estados</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'city_list' %}">Listagem de Municípios</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'district_list' %}">Listagem de Distritos</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'company_list' %}">Listagem de Empresas</a>
  </li>
</ul>
{% endblock %} s
