{% extends 'base.html' %}{% block content %}
<h1 class="mb-4">Listagem de Estados</h1>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>ID IBGE</th>
      <th>Nome</th>
      <th>UF</th>
      <th>Região</th>
    </tr>
  </thead>
  <tbody>
    {% for state in page_obj %}
    <tr>
      <td>{{ state.ibge_id }}</td>
      <td>
        <a href="{% url 'city_list' %}?state_id={{ state.ibge_id }}"
          >{{ state.name }}</a
        >
      </td>
      <td>{{ state.uf }}</td>
      <td>{{ state.region.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Paginação de Estados">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1">&laquo; primeira</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
        >anterior</a
      >
    </li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link"
        >Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages
        }}.</span
      >
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}"
        >próxima</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"
        >última &raquo;</a
      >
    </li>
    {% endif %}
  </ul>
</nav>

<a href="{% url 'home' %}" class="btn btn-secondary mt-3">Voltar para a home</a>
{%endblock%}
